body 
{
  font-family: 'Segoe UI', sans-serif;
  background: #f3f7fa;
  background-image: url('samolot.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  transition: 0.3s;
}

body.dark 
{
  background-image: url('samolot2.jpg');
  background-size: cover;
  color: #f3f3f3;
  transition: 0.3s;
}


.container 
{
  width: 100%;
  max-width: 500px;
  margin-top: 80px;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: 0.2s;
}

body.dark .container 
{
  background: #333;
  transition: 0.3s;
}

input[type="text"] 
{
  width: 99%;
  padding-bottom: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.suggestions 
{
  background: white;
  border: 1px solid #ccc;
  border-top: none;
  max-height: 200px;
  overflow-y: auto;
  text-align: left;
  border-radius: 0 0 8px 8px;
  transition: 0.3s;
}

body.dark .suggestions 
{
  background: #2b2b2b;
  color: #fff;
  transition: 0.3s;
}

.suggestions div 
{
  padding: 10px;
  cursor: pointer;
}

.suggestions div:hover 
{
  background-color: #e6f0ff;
}

body.dark .suggestions div:hover 
{
  background-color: #444;
}

.result 
{
  margin-top: 20px;
  padding: 20px;
  font-size: 18px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

body.dark .result 
{
  background: #1e1e1e;
}

.themetoggle
{
  position: absolute;
  top: 10px;
  right: 10px;
}

.themetoggle button 
{
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  background: #333;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

body.dark .themetoggle button 
{
  background: #eee;
  color: #000;
  transition: 0.3s;
}

h1 
{
    text-align: center;
}
